body {
    font-family: 'Arial';
    display: flex;
    /*justify-content: center;*/
    color: #333;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url('starry_night_3.jpg');
    background-size: cover;
    background-attachment: fixed;    
    background-color: #f4f3ff;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    opacity: 100%;
  }

  .container {
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.588);
    text-align: left;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);

  }

  .tag-output {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #f8f8f8;
    border-radius: 8px;
  }

  .tag {
    display: inline-block;
    background: #4e89ff;
    color: white;
    padding: 5px 10px;
    margin: 3px;
    border-radius: 12px;
    font-size: 0.9em;
  }

  h1 {
    color: #413ac5;
  }

  form {
    background-color:  rgb(255, 255, 255);
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    color: #413ac5;
  }

  input, textarea, select {
    background-color: white;
    width: 90%;
    align-items: center;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    
  }

  input[type="submit"] {
    background-color: #413ac5;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    width: 90%;
    align-items: center;
    margin: 6px;
    border: 1px solid #ccc;
  }

  input[type="submit"]:hover {
    background-color: #5750d8;
  }

  .dream {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 15px;
    margin-bottom: 15px;
    width: 400px;
  }

  .dream h3 {
    color: #6c63ff;
    margin-bottom: 5px;
  }

  .dream-date {
    font-size: 0.9em;
    color: gray;
  }